/* Variables */

:root {
	--basic-white: #ffffff;
	--basic-grey-light: #f2f2f2;
	--basic-grey-dark: #cacaca;
	--basic-blue-light: #81b3d2;
	--basic-blue: #669ec0;
	--basic-blue-dark: #5496bd;
	--basic-brown-light: #766357;
	--basic-brown: #604e43;
	--basic-brown-dark: #503e33;
	--basic-extra-dark: #333333;
	--basic-black: #000000;

	--special-grey-background: #eeeeee;
	--special-grey-chekbox: #6a6a6a;
	--special-grey-rating: #666666;
	--special-grey-icon: #a9a9a9;
	--special-grey-form: #ebebeb;
	--special-grey-stroke: #e5e5e5;
	--special-grey-logo: #bdbbbc;
}

/* Global */

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: var(--basic-extra-dark);
	text-transform: uppercase;
	background-color: var(--basic-grey-light);
	background-position: top center;
 	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

h4 {
	color: var(--basic-black);
	font-size: 21px;
	font-weight: 700;
	margin: 0;
}

p {
	margin: 0;
}

hr {
	width: 1200px;
	border: 1px solid #e5e5e5;
	margin: 0;
}

.content-container {
	width: 1200px;
	background-color: var(--basic-white);
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
	margin: 0 auto;
}

.visually-hidden:not(:focus):not(:hover):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Grid */

html {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation */

.main-header-logo-container {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -70px;
	max-width: 138px;
	max-height: 70px;
}

.main-navigation {
	font-size: 14px;
	font-weight: 700;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.site-navigation {
	display: grid;
	grid-template-columns: 73px 227px 227px 146px 227px 227px 73px;
	align-items: center;
	list-style: none;
	min-height: 56px;
	margin: 0;
	padding: 0;
}

.site-navigation a {
	display: block;
	color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: var(--basic-blue-light);
}

.site-navigation a:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.nav-info {
	grid-column: 2/3;
}

.nav-foto {
	grid-column: 3/4;
}

.nav-map {
	grid-column: 5/6;
	justify-self: end;
}

.nav-hotels {
	grid-column: 6/7;
	justify-self: end;
}

/* Intro */

.intro {
	min-width: 1200px;
	min-height: 509px;
	background-color: var(--basic-blue-dark);
	background-image: url("img/background-index.jpg");
	text-align: center;
}

.intro-welcome {
	position: relative;
}

.intro-welcome-image {
	padding-top: 77px;
}

.intro-welcome-mask {
	width: 1200px;
	height: 57px;
	position: absolute;
	top: 452px;
	left: 0;
}

/* Features */

.features-list-name {
	color: var(--basic-black);
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	padding-top: 43px;
}

.preview {
	text-align: center;
	margin: 0;
	padding-top: 43px;
	padding-bottom: 51px;
}

.features-list {
	display: grid;
  	grid-template-columns: 400px 400px 400px;
  	grid-template-rows: 256px min-content 256px min-content;
	list-style: none;
	margin: 0;
  	padding: 0;
}

.item-number {
	padding-top: 25px;
	padding-bottom: 23px;
}

.item-description {
	padding-bottom: 60px;
}

.feature-item-pictured {
	color: var(--basic-white);
	line-height: 21px;
	text-align: center;
	background-color: var(--basic-blue-light);
}

.feature-item-pictured h4 {
	color: var(--basic-white);
	padding-top: 47px;
}

.feature-item h4 {
	padding-top: 47px;
}

.feature-item-container {
	display: flex;
	flex-wrap: wrap;
	grid-column: 1/4;
	grid-row: 4/5;
}

.feature-item {
	flex-grow: 1;
	line-height: 21px;
	text-align: center;
	background-color: var(--special-grey-background);
}

.feature-item-image-1 {
	grid-column: 2/4;
	grid-row: 1/2;
}

.additional-features-container {
	grid-column: 1/4;
	grid-row: 2/3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.additional-feature-item {
	line-height: 21px;
	text-align: center;	
	position: relative;
}

.additional-feature-item h4 {
	padding-top: 160px;
}

.additional-feature-item p {
	padding-top: 25px;
	padding-bottom: 80px;
}

.feature-item-image-2 {
	grid-column: 1/3;
	grid-row: 3/4;
}

.motel-item::before {
    content: url("img/icon-1.svg");
    position: absolute;
    top: 60px;
    left: 50%;
    width: 75px;
    height: 72px;
    margin-left: -38px;
}

.food-item h4::before {
	content: url("img/icon-3.svg");
    position: absolute;
    top: 61px;
    left: 50%;
    width: 75px;
    height: 70px;
    margin-left: -38px;
}

.souvenir-item::before {
	content: url("img/icon-2.svg");
    position: absolute;
    top: 55px;
    left: 50%px;
    width: 64px;
    height: 77px;
    margin-left: -32px;
}

/*  Booking */

.booking {
	text-align: center;
}

.booking p {
	padding-top: 30px;
	padding-bottom: 43px;
}

.booking h3 {
	margin: 0;
	padding-top: 50px;
	font-size: 30px;
}

.search-form-button {
	display: inline-block;
	width: 568px;
	height: 86px;
	color: var(--basic-white);
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--basic-brown-light);
	border: none;
	outline: none;
}

.search-form-button:hover,
.search-form-button:focus {
	background-color: var(--basic-brown);	
}

.search-form-button:active {
	background-color: var(--basic-brown-dark);
}

.search-form-button:active span {
	opacity: 0.3;
}

.map {
	max-height: 594px;
}

/* Footer */

.page-footer {
	display: grid;
  	grid-template-columns: 73px 351px 352px 351px 73px;
	background-color: rgba(255, 255, 255, 0.9);
	min-height: 120px;
}

.footer-contacts {
	grid-column: 2/3;
	font-size: 21px;
	font-weight: 700;
	padding-top: 25px;
	text-align: center;
}

.footer-social ul {
	grid-column: 3/4;
	display: flex;
  	align-items: center;
  	justify-content: space-between;
	width: 150px;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	padding-top:  36px;
}

.social-button {
	display: flex;
 	align-items: center;
  	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: var(--basic-blue-light);
}

.social-button:hover,
.social-button:focus {
	background-color: var(--basic-blue);
}

.social-button:active {
	background-color: var(--basic-blue-dark);
}

.social-button:active path {
	opacity: 0.3;
}

.footer-copyright {
	grid-column: 4/5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-copyright a {
	margin-left: 10px;
}


.footer-copyright a path:hover,
.footer-copyright a path:focus {
	fill: var(--basic-blue-light);
}

.footer-copyright a path:active {
	fill: var(--special-grey-logo);
}

/* Modal */

.modal {
	width: 568px;
	background-color: var(--basic-white);
	box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
	margin: 0 auto;
}

.search-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 55px;
	padding-left: 55px;
	padding-right: 55px;
}

.search-form-item {
	position: relative;
}

.search-form-item label,
.search-form-item input {
	color: var(--basic-black);
	font-weight: 700;
	text-transform: uppercase;
}

label.check-in-date {
	margin-right: 19px;
}

label.check-out-date {
	margin-right: 16px;
}

label.number-of-adults {
	margin-right: 36px;
}

label.number-of-children {
	margin-right: 23px;
}

.search-form-item input {
	box-sizing: border-box;
	background-color: var(--basic-grey-light);
	border: none;
	outline: none;
}

.search-form-item input:hover {
	background-color: var(--special-grey-form);
	border: none;
}

.search-form-item input:focus {
	background-color: var(--basic-white);
	border: 2px solid;
	border-color: var(--special-grey-stroke);
}

input.check-in-date,
input.check-out-date {
	position: relative;
	width: 346px;
	height: 38px;
	padding: 0;
	padding-left: 12px;
	margin-bottom: 29px;
}

.button-calendar,
.button-number-plus,
.button-number-minus {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
}

.button-calendar {
	display: block;
	position: absolute;
	top: 7px;
	right: 9px;
	width: 21px;
	height: 23px;
}

.button-calendar:hover path,
.button-calendar:focus path {
	fill: var(--basic-black);
}

.button-calendar:active path {
	fill: var(--basic-blue-light);
}

input.number-of-adults,
input.number-of-children {
	position: relative;
	width: 114px;
	height: 38px;
	text-align: center;
}

.button-number-plus {
	display: block;
	position: absolute;
	top: 12px;
	right: 13px;
	width: 11px;
	height: 11px;
}

.button-number-plus:hover path,
.button-number-plus:focus path {
	fill: var(--basic-black);
}

.button-number-plus:active path {
	fill: var(--basic-blue-light);
}

.button-number-minus svg {
	display: block;
	position: absolute;
	top: 18px;
	right: 89px;
	width: 12px;
	height: 3px;
	z-index: 1;
}

.button-number-minus:hover rect,
.button-number-minus:focus rect {
	fill: var(--basic-black);
}

.button-number-minus:active rect {
	fill: var(--basic-blue-light);
}

.search-form-button-submit {
	width: 100%;
	color: var(--basic-white);
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--basic-blue-light);
	border: none;
	outline: none;
	margin-top: 54px;
	margin-bottom: 55px;
	padding: 17px 0;
}

.search-form-button-submit:hover,
.search-form-button-submit:focus {
	background-color: var(--basic-blue);	
}

.search-form-button-submit:active {
	background-color: var(--basic-blue-dark);
}

.search-form-button-submit:active span {
	opacity: 0.3;
}

/* HOTELS */

/* Filter */

.filter {
	min-height: 217px;
	color: var(--basic-white);
	background-color: var(--basic-blue-dark);
	background-image: url(img/filter-background.jpg);
	background-repeat: no-repeat;
}

.filter fieldset {
	padding: 0;
  	margin: 0;
  	border: none;
}

.filter-form legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	padding-bottom: 8px;
}

.filter-form ul {
	list-style: none;
	line-height: 21px;
	margin: 0;
	padding: 0;
}

.filter-form span {
	margin: 0;	
}

.filter-form {
	display: grid;
	grid-template-columns: 73px 253px 485px 316px 73px;
	padding-top: 27px;
}

.infrastructure-block {
	grid-column: 2/3;
}

.lodging-block {
	grid-column: 3/4;
}

.price-block {
	grid-column: 4/5;
}

label span {
  display: inline-block;
  background-image: url("img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 23px 23px;
  padding: 13px 39px;
}

label input:checked + span {
  background-image: url("img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 27px 23px;
}

label input:disabled + span {
	background-image: url("img/checkbox-off-disabled.svg");
}

label input:checked:disabled + span {
	background-image: url("img/checkbox-on-disabled.svg");
}

.range-controls {
  position: relative;
  width: 316px;
  height: 2px;
  margin-bottom: 33px;
  padding-top: 20px;
}

.range-controls .scale {
  width: 316px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 78%;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 10px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #ababab;
  cursor: pointer;
}

.range-controls .toggle:hover {
  width: 5px;
  height: 5px;
  padding: 0;
  border: 11px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #ababab;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 240px;
}

.price-block p {
	display: inline-block;
	padding-top: 7px;
}

.p1 {
	padding-left: 52px;
}

.p2 {
	padding-left: 116px;
}

.price-block-text {
	width: 317px;
	height: 36px;
	border: 2px solid #ffffff;
	background-image: url("img/line-vert.svg");
	background-repeat: no-repeat;
	background-size: 2px 22px; 
	background-position: center;
}

.filter-button-submit {
	display: inline-block;
	color: var(--basic-white);
	line-height: 21px;
	text-transform: uppercase;
	width: 137px;
	height: 36px;
	background-color: transparent;
	border: 2px solid #ffffff;
	padding: 0;
	outline: none;
	margin-left: 85px;
}

.filter-button-submit:hover,
.filter-button-submit:focus {
	color: var(--basic-black);
	background-color: var(--basic-white);
	border: none;
}

/* Search-Result */

.search-result {
	display: grid;
	grid-template-columns: 73px 163px 116px 1fr 35px 73px;
	align-items: center;
	margin-top: 29px;
	margin-bottom: 31px;
}

.search-result p {
	color: var(--basic-black);
	font-size: 21px;
	font-weight: 700;
	grid-column: 2/3;
}

.search-result h3 {
	color: var(--basic-black);
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	grid-column: 3/4;
}

.search-result ul {
	width: 250px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	grid-column: 4/5;
}

.search-result a {
	display: block;
	color: var(--basic-black);
	opacity: 0.3;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	border-bottom: 1px dotted rgba(129, 179, 210, 1);
}

.search-result a:hover,
.search-result a:focus {
	color: var(--basic-blue-light);
	opacity: 1;
}

.search-result a:active {
	color: var(--basic-black);
	opacity: 1;
	border: none;
}

.search-result-buttons {
	grid-column: 5/6;
	justify-self: center;
	display: flex;
	justify-content: space-between;
}

.result-button {
	border: none;
	outline: none;
	background-color: transparent;
}

.result-button:hover path,
.result-button:focus path {
	fill: var(--basic-black);
}

.result-button:active path {
	fill: var(--basic-blue-light);
}

/* Description-block */

.description-block p {
	display: inline-block;
	line-height: 21px;
}

.description-block h3 {
	font-size: 21px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.description-block ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.description-link {
	max-height: 27px;
	display: inline-block;
	color: var(--basic-white);
	line-height: 21px;
	font-weight: 700;
	background-color: var(--basic-blue-light);
	padding: 3px 16px 3px 17px;
}

.description-link:hover,
.description-link:focus {
	background-color: var(--basic-blue);
}

.description-link:active {
	background-color: var(--basic-blue-dark);
}

.description-link:active span {
	opacity: 0.3;
}

.description-name {
	display: inline-block;
	color: var(--basic-black);
}

.description-name:hover,
.description-name:focus {
	color: var(--basic-blue-light);
}

.description-name:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.description-item {
	display: grid;
	grid-template-columns: 73px 163px 1fr 127px 73px;
}

.image-block {
	grid-column: 2/3;
}

.text-block {
	grid-column: 3/4;
}

.rating-block {
	grid-column: 4/5;
	justify-self: end;
}

.description-item {
	margin-top: 27px;
	margin-bottom: 27px;
}

.amara-price {
	margin-left: 38px;
}

.desert-price {
	margin-left: 64px;
}

.villas-price {
	margin-left: 23px;
}

.description-buttons {
	margin-top: 13px;
}

.booking-button {
	display: inline-block;
	width: 142px;
	height: 27px;
	color: var(--basic-white);
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--basic-brown-light);
	border: none;
	outline: none;
	padding: 0;
	cursor: pointer;
	margin-left: 4px;
}

.booking-button:hover,
.booking-button:focus {
	background-color: var(--basic-brown);
}

.booking-button:active {
	background-color: var(--basic-brown-dark);
}

.booking-button:active span {
	opacity: 0.3;
}

.rating {
	width: 110px;
	height: 22px;
	color: var(--special-grey-rating);
	background-color: var(--basic-grey-light);
	text-align: center;
	padding-top: 5px;
}

.four-stars {
	width: 91px;
	height: 17px;
	background-image: url(img/star.svg);
	background-repeat: space;
	margin-left: 19px;
	margin-bottom: 47px;
}

.three-stars {
	width: 66px;
	height: 17px;
	background-image: url(img/star.svg);
	background-repeat: space;
	margin-left: 44px;
	margin-bottom: 47px;
}

.two-stars {
	width: 41px;
	height: 17px;
	background-image: url(img/star.svg);
	background-repeat: space;
	margin-left: 69px;
	margin-bottom: 47px;
}




